  body {
      height: 100vh;
      background-color: rgb(139, 147, 147);
  }

  .header-footer {
      /* width: 100vw; */
      background-color: aqua;
      height: 20%;
      /* line-height: 100px; */
      text-align: center;
      background: linear-gradient(to left, rgba(0, 128, 0, 0.722), pink);
  }

  .title {
      color: rgba(77, 217, 17, 0.836);
      text-align: center;
      font-size: 20px;
      width: 200px;
      height: 100px;
      background-color: red;
      display: inline-block;
      margin-top: 25px;
      /* margin-bottom: 25px; */
      line-height: 100px;
      /* border-radius: 20px 10px 30px 40px; */
      border-radius: 20px;
      box-shadow: 0px 0px 60px black;
      border-top: 4px dashed blue;
      border-bottom: 4px dashed blue;
      border-right: 4px dashed rgb(255, 255, 255);
      border-left: 4px dashed rgb(255, 255, 255);
  }

  #main {
      height: 60%;
      background-color: blueviolet;
      /* width: 100vw; */
    padding: 1px;    /* برای اینکه با تگ هدر هم تراز شود */
      /* background-image: url(/asets/img/Lamborghini-Egoista-Capital-Exotic-770x403.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(222, 184, 135, 0.54); */
      background-blend-mode: overlay;
      background: url(/asets/img/Lamborghini-Egoista-Capital-Exotic-770x403.webp) center / cover no-repeat, linear-gradient(50deg, black, gray, rgba(255, 255, 255, 0.481));
      text-align: center;
  }

  .galerybox {
      width: 600px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.511);
      display: inline-block;
  }

  .imgbox1,
  .imgbox2,
  .imgbox3 {
      width: 30%;
      height: 100%;
      /* background-color: aqua; */
      display: inline-block;
      padding: 0 8px 0 8px;
  }

  img {
      width: 100%;
      object-fit: cover;
      margin: 10px 0 10px 0;
      border-radius: 15px;
  }

  .imgbox1 .img4 {
      margin: 0 0 20px 0;
  }

  .imgbox2 .img1 {
      margin: 20px 0 20px 0;
  }

  .imgbox2 .img2 {
      margin: 20px 0 20px 0;
      width: 120px;
      border-radius: 100%;
      box-shadow: 0 0 50px black;
      border: 1px solid black;
  }

  .imgbox2 .img3 {
      margin: 20px 0 20px 0;
  }

  .imgbox3 .img4 {
      margin: 0 0 20px 0;

  }
       .paragrafbox {
            display: inline-block;
            width: 25%;
            height: 100%;
            background-color: rgba(0, 255, 255, 0.699);
            border-radius: 15px;
            text-align: justify;
            padding: 0 20px 0 20px;
            vertical-align: top;
        }
        .paragrafbox h1{
            text-shadow: 0 0 10px rgb(255, 255, 0);
        }

        /* a{
            text-decoration: dashed;
            text-decoration-line: overline;
            text-decoration-color: aqua;
            color: white;
} */