* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
    text-decoration: none;

    /* -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s; */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5rem;
    background: url(/asets/img/bg.jpg) no-repeat center / cover;
}

th,
td {
    border: 2px solid #ffffff;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    /* -webkit-border-radius:5px ;
 -moz-border-radius:5px ;
 -ms-border-radius:5px ;
 -o-border-radius:5px ; */
}

tr {
    background-color: rgba(0, 255, 255, 0.4);
}

th {
    background-color: #b2b2b2;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:active {
    background-color: #b2b2b2;
    box-shadow: 0 0 16px inset;
}

.scale_3:hover {
    transform: scale(3);
    filter: drop-shadow(0 0 3px black);
    /*-webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    */
    /* -webkit-filter: drop-shadow(0 0 3px black); */
}

.background_blur_black {
    background-color: #33333390;
    backdrop-filter: blur(2px);
}

.close_btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    border: 2px solid red;
    border-radius: 100%;
    background-color: black;
    /* -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%; */
}

.productModal {
    opacity: 0;
    visibility: hidden;
}

.productModal:target {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    /*  اینجا باید یه زد ایندکس 2 میدادم تا زیر هدر نمونه */
}

/* tr , th , td{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
} */



.header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu ul {
    list-style: none;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.5s;
    display: inline-block;
}


#footer {
    background-color: #2c3e50;
    color: white;
    padding: 15px 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
}



/* استایل نویسی کلاس محور */

.bg_green {
    background-color: rgba(172, 255, 47, 0.4);
}

.heigth_2 {
    height: 2rem;
}

.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.p_2 {
    padding: 2rem;
}

.m_2 {
    margin: 2rem;
}

.p_absolute {
    position: absolute;
}

.p_relative {
    position: relative;
}

.p_sticky {
    position: sticky;
    top: 0;
}

.top_0 {
    top: 0;
}

.left_0 {
    left: 0;
}

.d_flex {
    display: flex;
}

.align_items_center {
    align-items: center;
}

.justify_content_center {
    justify-content: center;
}
/* mobile style */
.mobileMenu{
    list-style: none;
    direction: rtl;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 0.5rem black;
    border-radius: 0.5rem;
    /* -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem; */
}
.d_mobile{
    display: none;
}
.z_index1{
    z-index: 1;
}
.right_1{
    right: 1rem;
}
/* responsive */
@media (max-width: 600px) {

    table,
    thead,
    tbody,
    tfoot,
    th,
    td,
    tr {
        display: block;
    }

    .border-1 {
        border: 1px solid #ff0000;
    }

    .mt_1 {
        margin-top: 1rem;
    }

    .w_50 {
        width: 90%;
    }
.d_mobile{
    display: inline-block;
}
}