 * {
     margin: 0;
     padding: 0;
     /* transition: all ease 1s; */
     /* display: inline-block; */
 }

 .registerbox {
     /* width: 100vw; */
     height: 100vh;
     /* background-color: rgba(0, 255, 255, 0.379); */
     display: inline-block;

 }

 .logo {
     background: url(/asets/img/logo2.png);
     object-fit: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 101%;
     width: 50.23vw;
     text-align: inherit;
     display: inline-block;
     float: left;

 }

 /* 
        .logo:hover {
            width: 50vw;

        } */

 .loginbox {
     display: inline-block;
     align-items: center;
     text-align: center;
     vertical-align: top;
     height: 101%;
     /* background-color: blueviolet; */
     width: 46.8rem;
     box-sizing: border-box;
     float: left;
     position: relative;
 }

 .back,
 button {
     position: absolute;
     right: 314px;
     top: 40px;
     border: none;
     width: max-content;
 }

 .login {
     padding: 170px 170px 0 170px;
     margin-top: 20px;
     /* margin: 100px; */
     text-align: justify;
     display: inline-block;
 }

 input,
 select {
     border: none;
     height: 25px;
     margin: 0 0 10px 0;
     width: 290px;
     height: 40px;
     border-radius: 15px;
     background-color: rgb(195, 206, 216);
 }

 h1,
 p {
     margin-bottom: 10px;
 }

 label {
     font-size: 15px;
 }

 .buton {
     margin-top: 10px;
 }

 /* .buton input:focus{
box-shadow: 0 0 20px rgb(134, 127, 127);
 } */
 .buton input {
     background: #2C73EB;
 }

 .d-in-bl {
     display: inline-block;
 }


 h3 {
     font-size: 10px;
     align-items: center;
     text-align:inherit ;
 }

 .h3 {
     color: red;
 }

 .checbox {
     width: 15px;
     height: 10px;
 }

 /* input::placeholder{
            color: chocolate;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        } */
         @keyframes name {
           
         }