  body {
            text-align: center;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .registerbox {
            width: 25%;
            /* height: 450px; */
            background-color: rgba(233, 233, 233, 0.314);
            padding: 20px;
            display: inline-block;
            text-align: justify;
            border: 1px solid black;
            border-radius: 15px;
        }

        .registerbox h1 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            display: inline-block;
            background: linear-gradient(to right, #FAFF00, #00E0FF);
            background-clip: text;
            color: transparent;
            margin-bottom: 15px;
        }

        .registerbox span {
            color: red;
        }

        .title {}

        .form {
            /* align-items: center; */
            text-align: center;
        }

        .form .f-input {
            width: 45%;
            text-align: justify;
            display: inline-block;
        }

        .form .lineinput {
            width: 90%;
            text-align: justify;
            display: inline-block;
            margin-top: 10px;
        }

        .check {
            width: 15px;
            vertical-align: sub;
        }

        .label {
            vertical-align: super;
            font-size: 10px;
        }

        input {
            width: 90%;
            border: none;
            background: linear-gradient(to right, #FF8A00, #DBFF00);
            height: 25px;
            border-radius: 100px;
        }

        button {
            width: 45%;
            height: 30px;
            border-radius: 100px;
            background-color: #FF8A00;
        }

        ::placeholder {
            /*   ها رو صدا میکنه  placeholder این مدلی همه  */
            color: rgb(55, 43, 226);
        }

        .f-input input::placeholder {
            /*  این مدلی هم پلیس هولدر اینپوتی رو که صدا زدیم تغییر میده مثل روبرو */
            color: rgb(255, 255, 255);
        }
         .radiosection {
            text-align: justify;
            padding-left: 20px;
         }
          .radio {
            width: 10px;
            vertical-align: sub;
        }
        .radiobox{}     
        .radiosection{
            margin-top: 10px ;
        }
       